<div class="user container">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="info form">

    <div class="heading">Update your information</div>

    <div class="input">
      <div class="input-minor">Name</div>
      <div class="input-major"><%= f.text_field :name, :placeholder => 'Name' %></div>
    </div>

    <div class="input">
      <div class="input-minor">Gender</div>
      <div class="input-major"><%= f.select :gender, ['Male','Female'] %></div>
    </div>

    <div class="input">
      <div class="input-minor">Birthday</div>
      <div class="input-major"><%= f.date_select :dob, :start_year => Date.current.year-15, :end_year => 1920, :order => [:month, :day, :year] %></div>
    </div>

    <div class="input">
      <div class="input-minor">Profession</div>
      <div class="input-major"><%= f.select :profession, ['Tech','Media','Finance'] %></div>
    </div>

    <div class="input">
      <div class="input-minor">Phone</div>
      <div class="input-major"><%= f.text_field :number, :placeholder => "Phone"  %></div>
    </div>

    <div class="input">
      <div class="input-minor">Email</div>
      <div class="input-major"><%= f.email_field :email %></div>
    </div>

    <div class="input">
      <div class="input-minor">Password</div>
      <div class="input-major"><%= f.password_field :current_password, :placeholder => 'Current Password' %></div>
    </div>

  </div>


  <div class="password form">

    <div class='heading'>
      Click to Update Password
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="input">
      <%= f.password_field :password, :autocomplete => "off", :placeholder => 'New Passsword' %>
    </div>

    <div class="input">
      <%= f.password_field :password_confirmation, :placeholder => 'Confirm' %>
    </div>

  </div>

  <%= f.submit "Update", class:'btn btn-primary' %>
  <% end %>

  <div class="nav-container">
    <%= button_to "Events", '/display', :method => :get, class: 'btn btn-success'%>
    <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, class: 'btn btn-warning' %>
  </div>

  <div class="bottom"></div>

</div>

<div class="nav">
  <div><a href="/events"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit" class="current"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>

<%= javascript_include_tag 'user.js' %>

