<div class="container">

  <div class="user form">

    <h1>Update your information</h1>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-container">
      <div class="input-name"><h2>Name</h2></div>
      <div class="input-field">
        <div class="input"><%= f.text_field :name, :autofocus => true %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Gender</h2></div>
      <div class="input-field">
        <div class="select"><%= f.select :gender, ['Male','Female'] %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Birthday</h2></div>
      <div class="input-field">
        <div class="select"><%= f.date_select :dob, :start_year => Date.current.year-15, :end_year => 1920, :order => [:month, :day, :year] %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Profession</h2></div>
      <div class="input-field">
        <div class="select"><%= f.select :profession, ['Tech','Media','Finance'] %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Phone</h2></div>
      <div class="input-field">
        <div class="input"><%= f.text_field :number %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Email</h2></div>
      <div class="input-field">
        <div class="input"><%= f.email_field :email, :autofocus => true %></div>
      </div>
    </div>
  </div>


  <div class="user form">

    <h1>Update password (leave empty to keep current)</h1>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-container">
      <div class="input-name"><h2>Current Password</h2></div>
      <div class="input-field">
        <div class="input"><%= f.password_field :current_password %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>New Password</h2></div>
      <div class="input-field">
        <div class="input"><%= f.password_field :password, :autocomplete => "off" %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Confirm Password</h2></div>
      <div class="input-field">
        <div class="input"><%= f.password_field :password_confirmation %></div>
      </div>
    </div>

  </div>

  <%= f.submit "Update", class:'btn btn-primary' %>
  <% end %>

  <%= button_to "View Events", '/display', :method => :get, :class => 'btn btn-primary' %>
  <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-secondary' %>
  <%= button_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-warning' %>

</div>

<div class="nav">
  <a href="/events"><span class="entypo-search"></span><div class="divider"></div></a>
  <a href="/events/new"><span class="entypo-plus"></span></a>
  <a href="/users/edit" class="current"><span class="entypo-user"></span></a>
  <a href="http://www.ianyang.co"><span class="entypo-info"></a>
</div>
