<header>
    <div class="current-page">
      <h3>Sign Up</h3>
    </div>
    <div class="open-popout">
      <span class="entypo-menu"></span>
    </div>
</header>

<%= render :partial => 'partials/topper' %>

<div class="container">

  <div class="user form">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

    <div class="input-container">
      <div class="input-name"><h2>Email</h2></div>
      <div class="input-field">
        <div class="input"><%= f.email_field :email, :autofocus => true %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Password</h2></div>
      <div class="input-field">
        <div class="input"><%= f.password_field :password, :autocomplete => "off" %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Confirm Password</h2></div>
      <div class="input-field">
        <div class="input"><%= f.password_field :password_confirmation %></div>
      </div>
    </div>

   <div class="input-container">
      <div class="input-name"><h2>Name</h2></div>
      <div class="input-field">
        <div class="input"><%= f.text_field :name, :autofocus => true %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Gender</h2></div>
      <div class="input-field">
        <div class="select"><%= f.select :gender, ['Male','Female'] %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Birthday</h2></div>
      <div class="input-field">
        <div class="select"><%= f.date_select :dob, :start_year => Date.current.year-15, :end_year => 1920, :order => [:month, :day, :year] %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Profession</h2></div>
      <div class="input-field">
        <div class="select"><%= f.select :profession, ['Tech','Media','Finance'] %></div>
      </div>
    </div>

    <div class="input-container">
      <div class="input-name"><h2>Phone</h2></div>
      <div class="input-field">
        <div class="input"><%= f.text_field :number %></div>
      </div>
    </div>

  </div>

  <%= f.submit "Sign up", class:'btn btn-primary' %>
  <% end %>

  <%= render "devise/shared/links" %>


</div>
