<div class="user container">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="form">

    <div class="heading">Registration</div>

    <div class="input">
      <div class="input-minor">Email</div>
      <div class="input-major"><%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %></div>
    </div>

    <div class="input">
      <div class="input-minor">Password</div>
      <div class="input-major"><%= f.password_field :current_password, :placeholder => 'Password' %></div>
    </div>

    <div class="input">
      <div class="input-minor">Confirm</div>
      <div class="input-major"><%= f.password_field :password_confirmation, :placeholder => 'Confirm' %></div>
    </div>

    <div class="input">
      <div class="input-minor">Name</div>
      <div class="input-major"><%= f.text_field :name, :autofocus => true, :placeholder => 'Name' %></div>
    </div>

    <div class="input">
      <div class="input-minor">Gender</div>
      <div class="input-major"><%= f.select :gender, ['Male','Female'] %></div>
    </div>

    <div class="input">
      <div class="input-minor">Birthday</div>
      <div class="input-major"><%= f.date_select :dob, :start_year => Date.current.year-15, :end_year => 1920, :order => [:month, :day, :year] %></div>
    </div>

    <div class="input">
      <div class="input-minor">Profession</div>
      <div class="input-major"><%= f.select :profession, ['Tech','Media','Finance'] %></div>
    </div>

    <div class="input">
      <div class="input-minor">Phone</div>
      <div class="input-major"><%= f.text_field :number, :placeholder => "Phone" %></div>
    </div>

  </div>

  <%= f.submit "Sign up", class:'btn btn-success' %>
  <% end %>

  <%= render "devise/shared/links" %>

  <div class="bottom"></div>

</div>

<div class="nav">
  <div><a href="/events"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit" class="current"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>
