<div class="alertsdiv">
  <div class="alerts">
    <%flash.each do|key,value|%>
      <div class="alert alert-<%=key%>"> <%=value%> </div>
    <%end%>
  </div>
</div>

<div class="popout">

  <div class="logos">
    <div class="logo">
      <span class="sign">!</span>
    </div>
    <div class="text">
      <h2>momnts</h2><h2>.us</h2>
    </div>
  </div>

  <div class="buttons">
    <div><h3><%= link_to('Find Events', '/events') %></h3></div>
    <div><h3><%= link_to('Create Event', '/events/new') %></h3></div>
    <div><h3><%= link_to('User Account', '/users/edit') %></h3></div>
    <div><h3><%= link_to('About the Maker', 'http://www.ianyang.co') %></h3></div>
  </div>

</div>

<%= javascript_include_tag "header.js" %>