<div class="hero">

  <div class="header">
    <div class="logo">
      <div class="sign">!</div><h1>momnts</h1><h1>.us</h1>
    </div>
  </div>

  <div class="sign-in">
    <div class="blurb">
      <h1>Quick meets to get inspired</h>
    </div>

    <div class="form">
      <%= form_tag do %>
        <div><%= email_field_tag(:email, nil, placeholder: 'Email') %></div>
        <div><%= password_field_tag(:password, nil, placeholder: '****') %></div>
        <div><%= submit_tag("Sign In / Sign Up") %></div>
        <div><%= link_to 'Just Browsing', '/findnew' %></div>
      <% end %>
    </div>
  </div>

</div>


<div class="container">


  <div class="threecol">
    <div class="image"><%= image_tag "josh.jpg" %></div>
    <div class="text"><h2>"I love food. But I love my ladies over food even more! This is the most efficient way of dating, and I can't live without it. Bravo!"</h2></div>
  </div>

  <div class="threecol">
    <div class="image"><%= image_tag "donielle.jpg" %></div>
    <div class="text"><h2>"I'm always so busy at work. Momnts has given me the best man of my life. I love it!"</h2></div>
  </div>

  <div class="threecol">
    <div class="image"><%= image_tag "justin.jpg" %></div>
    <div class="text"><h2>"Momnts is super easy to use. It is as slick as my dark blonde hair and everything just works. Perfect."</h2></div>
  </div>

</div>

<%= render :partial => 'partials/footer' %>