<%= form_for @event do |f| %>

  <div class="when">

    <div><%= f.label :date %>
    <%= f.date_select :date, :start_year => Date.current.year, :end_year => 2014, :order => [:month, :day, :year] %></div>

    <div><%= f.label :time %>
    <%= f.time_select :time, {minute_step: 15, ampm: true} %></div>

    <div><%= f.label :duration %>
    <%= f.select :duration, [15,30,45,60,75,90,"Get a life!"] %>mins</div>

  </div>

  <div class="what">
    <h2>What</h2><br>

    <div><%= f.label :topic %><i> (Max 150 characters)</i><br/>
    <%= f.text_field :topic %></div>

    <div><%= f.label :creator_identifier, "How to identify you?" %></br>
    <%= f.text_field :creator_identifier %></div>

  </div>

    <div class="hidden"><%= f.label :location %>
    <%= f.text_field :location, :readonly => true %></div>
    <div class="hidden"><%= f.label :address %>
    <%= f.text_field :address, :readonly => true %></div>
    <div class="hidden"><%= f.label :image %>
    <%= f.text_field :image, :readonly => true %></div>

  <%= f.submit %>
<% end %>
