<div class="container">

    <h2>Events you have proposed</h2><hr>
    <% @created.each do |event| %>
    <div><a target='_blank' href='/events/<%=event.id%>'><%= event.location %> for <%= event.date %></a></div></br>
    <% end %>

    <h2>Events you have accepted</h2><hr>
    <% @attending.each do |event| %>
    <div><a target='_blank' href='/events/<%=event.id%>'><%= event.location %> for <%= event.date %></a></div></br>
    <% end %>

</div>

<div class="nav">
  <a href="/events"><span class="entypo-search"></span><div class="divider"></div></a>
  <a href="/events/new"><span class="entypo-plus"></span></a>
  <a href="/users/edit" class="current"><span class="entypo-user"></span></a>
  <a href="http://www.ianyang.co"><span class="entypo-info"></a>
</div>
