<div class="events container">

  <div class="search-container">
    <div class="logo-container">
      <div class="logo">
        <%= image_tag 'logo.png' %>
      </div>
    </div>
    <div class="info">
      <h1><%= Time.now.localtime.strftime("%A") %></h1>
      <h3><%= @city %></h3>
    </div>
  </div>

  <div class="header">EVENTS CLOSEST TO YOU...</div>

  <div class="loading">
    <%= image_tag("loading.gif") %>
  </div>

  <div class="results">
    <div class="today-container">
      <div class="heading">T O D A Y</div>
    </div>

    <div class="tomorrow-container">
      <div class="heading">T O M O R R O W</div>
    </div>
  </div>

  <% if user_signed_in? %>
  <div class="acceptance-container">
    <div class="form">
      <div class='heading'>Accept Event</div>
      <%= form_tag({controller: "events", action: "accept"}, method: :post) do %>
        <%= hidden_field_tag :id %>
        <%= hidden_field_tag :acceptor_id, current_user.id %>
      <div class='input'>
        <%= text_field_tag :acceptor_identifier, nil, :placeholder => 'what you look like' %>
      </div>
    </div>
    <%= submit_tag "Accept", class: 'btn btn-primary' %>
    <% end %>
  </div>

    <% else %>
    <%= link_to 'Sign In to Accept', '/users/sign_in', class: 'btn btn-primary' %>

    <% end %>

  <div class="bottom"></div>

</div>

<div class="nav">
  <div><a href="/events" class="current"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>

<%= javascript_include_tag 'search.js' %>
