<div class="create container">

  <div class="search-container">
    <div id="map"></div>
    <div class="search-bar">
      <%= form_tag(controller: 'events', action: 'search', method: "") do %>
        <%= text_field_tag(:find , nil, placeholder: 'search for something near you e.g. cafe') %>
        <div class='hidden'><%= submit_tag 'Find' %></div>
      <% end %>
    </div>
  </div>

  <div class="loading">
    <%= image_tag("loading.gif") %>
  </div>

  <div class="results">
  </div>

  <div class="confirm">
    <%= form_for @event do |f| %>

    <div class="form">
      <div class="input">
        <div class="input-minor">Date</div>
        <div class="input-major">
          <%= f.date_select :date, :start_year => Date.current.year, :end_year => 2014, :order => [:month, :day, :year] %>
        </div>
      </div>

      <div class="input">
        <div class="input-minor">Time</div>
        <div class="input-major">
          <%= f.time_select :time, {minute_step: 15, ampm: true} %>
        </div>
      </div>

      <div class="input">
        <div class="input-minor">Duration</div>
        <div class="input-major">
          <%= f.select :duration, [15,30,45,60,75,90,"Get a life!"] %>mins
        </div>
      </div>

      <div class="input">
        <div class="input-minor">Topic</div>
        <div class="input-major">
          <%= f.text_field :topic, :placeholder => "what you want to talk about" %>
        </div>
      </div>

      <div class="input">
        <div class="input-minor">Short Bio</div>
        <div class="input-major">
          <%= f.text_field :creator_identifier, :placeholder => "what you look like" %>
        </div>
      </div>

    </div>

    <%= f.hidden_field :location, :readonly => true %>
    <%= f.hidden_field :address, :readonly => true %>
    <%= f.hidden_field :image, :readonly => true %>
    <%= f.submit class:'btn btn-primary' %>
    <% end %>
  </div>

  <div class="bottom"></div>

</div>

<div class="nav">
  <div><a href="/events"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new" class="current"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>

<%= javascript_include_tag 'create.js' %>
