<div class="container">

    <h2>Your Confirmation</h2>
    <div class="confirm_img"><img src="<%= @event.image %>" /></div><br>
    <div>Created by: <%= @event.creator.name %></div><br>
    <div>Location: <%= @event.location %></div><br>
    <div>Address: <%= @event.address %></div><br>
    <div>Date: <%= @event.date %></div><br>
    <div>Time: <%= @event.time.strftime("%I:%M %P") %></div><br>
    <div>Duration: <%= @event.duration %>mins</div><br>
    <div>Topic: <%= @event.topic %></div><br>
    <span class="acceptance"><% if @event.acceptor_id == nil %>
        <%= "Your event is waiting to be accepted" %>
        <% else %>
        <%= "Accepted by " + @event.acceptor.name %>
        <% end %>
    </span>

    <%= button_to "Delete Event", @event, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-warning' %>

</div>

<div class="nav">
  <a href="/events"><span class="entypo-search"></span></a>
  <a href="/events/new" class="current"><span class="entypo-plus"></span></a>
  <a href="/users/edit"><span class="entypo-user"></span><div class="divider"></div></a>
  <a href="http://www.ianyang.co"><span class="entypo-info"></a>
</div>

