<div class="confirm container">

  <div class="confirm">
    <div class="heading">Your Confirmation</div>
    <div><span class="confirm_img"><img src="<%= @event.image %>" /></span></div>
    <div>Created by: <%= @event.creator.name %></div>
    <div>Location: <%= @event.location %></div>
    <div>Address: <%= @event.address %></div>
    <div>Date: <%= @event.date.localtime %></div>
    <div>Time: <%= @event.time.localtime.strftime("%I:%M %P") %></div>
    <div>Duration: <%= @event.duration %>mins</div>
    <div>Topic: <%= @event.topic %></div>
    <div><% if @event.acceptor_id == nil %>
        <span class="waiting"><%= "Your event is waiting to be accepted" %></span>
        <% else %>
        <span class="accepted"><%= "Accepted by " + @event.acceptor.name %></span>
        <% end %>
    </div>
  </div>

  <%= button_to "Delete Event", @event, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-warning' %>

  <div class="bottom"></div>

</div>

<div class="nav">
  <div><a href="/events"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new" class="current"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>

